body{
    margin: 0;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
}

.score-card-container{
    display: flex;
    flex-direction: row;
    height: 51%;
    width: 35%;
    border-radius: 20px;
    font-family: 'Hanken Grotesk';
    box-shadow: 2px 2px 12px black;
}

.score-container{
    margin: 0;
    padding: 0;
    margin-top: 1em;
    width: 10em;
    height: 10em;
    border-radius: 50%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image : linear-gradient( hsla(256, 72%, 46%, 1),hsla(241, 72%, 46%, 0));
}
.score-result{
    border-radius: 20px;
    width: 50%;
    background-image: linear-gradient(180deg, #6642FE 0%, #312CEA 100%);
    color: hsl(0, 0%, 100%);
    display: flex;
    flex-direction: column;
    align-items: center;
}


.score-container span:first-child{
    font-size: 4rem;
}

.score-container p:nth-child(2){
    font-size: 100%;
}

.score-result p:first-child{
    margin-top: 2em;
    font-size: large;
    opacity: 0.6;
}

.score-result p:nth-child(4){
    opacity: 0.6;
    margin-top: -1.5em;
    margin-left: 2em;
    margin-right: 2em;
    text-align: center;
}


.score-result p:nth-child(3){
    font-size: 2em;
    font-weight: 700;
}


.score-summary{
    margin-left: 1.3em;
    width: 50%;
}

.score-summary-header{
    font-weight: 800;
    font-size: 1.3em;
}


.score-division{
    width: 90%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}


.score-division img{
    width: 20px;
}

.reaction-division{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 95%;

    background-color: hsla(0, 100%, 67%,0.1);
    border-radius: 5px;
    padding-left : 10px;
    padding-right: 10px;
}

.reaction-division p:nth-child(1){
    color : hsl(0, 100%, 67%);
    font-weight: 800;
}


.memory-division{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 95%;
    border-radius: 5px;
    padding-left : 10px;
    padding-right: 10px;
    background-color: hsla(39, 100%, 56%,0.1);
}

.memory-division p:nth-child(1){
    color : hsl(39, 100%, 56%);
    font-weight: 800;
}

.verbal-division{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 95%;
    border-radius: 5px;
    padding-left : 10px;
    padding-right: 10px;
    background-color: hsla(166, 100%, 37%,0.1);
}


.verbal-division p:nth-child(1){
    color : hsl(166, 100%, 37%);
    font-weight: 800;
}


.visual-division{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 95%;
    border-radius: 5px;
    padding-left : 10px;
    padding-right: 10px;
    background-color: hsla(234, 85%, 45%,0.1);
}

.visual-division p:nth-child(1){
    color : hsl(234, 85%, 45%);
    font-weight: 800;
}


.submit-button-container{
    margin-top: 3em;
    /* margin-bottom: 2em; */
    width: 92%;
    height: 50px;
    border-radius: 50px;
    background-color: hsl(224, 30%, 27%);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.submit-button-container:hover{
    cursor: pointer;
}


@media only screen and (max-width:1300px) and (min-width:1000px) {
    .score-card-container{
        height: auto;
        display:flex;
        flex-direction: column;
    }

    .score-result{
        width: 100%;
    }

    .score-summary{
        width: 100%;
    }

    .submit-button-container{
        margin-bottom: 1.5em;
    }
}


@media only screen and (max-width:1000px){
    .score-card-container{
        height: auto;
        display:flex;
        flex-direction: column;
        width: auto;
    }

    .score-result{
        width: 100%;
    }

    .score-summary{
        width: 100%;
    }

    .submit-button-container{
        margin-bottom: 1.5em;
    }
}